/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

a.sidebar-link[href*="#☆"] {
    color: #AD2B26;
}

h3[id*="☆"] {
    color: red;
}
